<!-- <div style="background-color: black">
  <span id="legendTitle">{{ title }}</span>
  <div>
    <igx-radial-gauge
      #radialGauge
      height="330px"
      width="100%"
      value="25"
      interval="5"
    ></igx-radial-gauge>
  </div>
</div> -->
<!-- <ion-card>
  <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <igx-radial-gauge
      #radialGauge
      height="330px"
      width="100%"
      value="25"
      interval="5"
    ></igx-radial-gauge>
  </ion-card-content>
</ion-card> -->


<div style="width: 100%">
  <div style="width: 100%; display: flex; justify-content: center">
    <ion-text style="font-size: 20px">{{ title }}</ion-text>
  </div>

  <div style="margin-top: 5px">
    <igx-radial-gauge
      #radialGauge
      height="330px"
      width="100%"
      value="25"
      interval="5"
    ></igx-radial-gauge>
  </div>
</div>
