<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-button color="medium" (click)="cancel()">Cancel</ion-button> -->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="background: black">
  <ng-container *ngIf="device">
    <app-device-location
      [latitude]="+device.latitude"
      [longitude]="+device.longitude"
    ></app-device-location>
    <!-- <app-device-geolocation
        [latitude]="device.latitude"
        [longitude]="device.longitude"
        [address]="device.address"
      ></app-device-geolocation> -->
  </ng-container>
</ion-content>
