<!-- <div class="card pointer">
  <div class="card-header">
    <div class="d-flex justify-content-between" style="height: 40px">
      <span>{{ title }}</span>
      <div
        class="d-flex justify-content-center align-items-center float-end bg-icons"
      >
        <button
          mat-icon-button
          (click)="minimize()"
          aria-label="Minimize"
          class="icon-btn"
        > -->
          <!-- <ion-icon style="color: black">minimize</ion-icon> -->
          <!-- <ion-icon name="remove-outline"></ion-icon>
        </button>
        <button
          mat-icon-button
          (click)="maximize()"
          class="icon-btn"
          aria-label="Maximize"
        >
          <ion-icon style="color: black">check_box_outline_blank</ion-icon>
        </button> -->
        <!-- [disabled]="!device.subscrValid" -->
        <!-- <button
          aria-label="menu"
          class="icon-btn"
        >
          <ion-icon style="color: black">more_vert</ion-icon>
        </button> -->
        <!-- <mat-menu #menu="matMenu"> -->
          <!-- <button mat-menu-item (click)="settings(device)">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button> -->
          <!-- <button mat-menu-item (click)="dataDetails()">
            <ion-icon>insights</ion-icon>
            <span>Data Details</span>
          </button> -->
        <!-- </mat-menu> -->
      <!-- </div>
    </div>
  </div> -->

  <ng-container class="card-body">
    <div #fusion>chart shows here</div>

    <!-- <fusioncharts
      width="350"
      height="400"
      type="Cylinder"
      [dataSource]="dataSource"
      (rendered)="animation($event)"
    >
    </fusioncharts> -->
    
    
  </ng-container>
<!-- </div> -->
